.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

nav .brand-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

nav i.material-icons {
  font-size: 30px;
}

.sidenav li > a.btn {
  margin: 20px;
}

.btn i {
  font-size: 24px;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #2195f39d;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #2196f3;
}

/* hide button in css, if available in the the browser, the js activates it */
#permission {
  display: none;
}

li:last-child a:hover {
  background-color: rgba(0, 0, 0, 0);
}

picture img {
  height: 600px;
  background: center/cover;
  width: 100%;
  filter: brightness(0.7);
}

#slider {
  overflow: hidden;
  position: relative;
}

#slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 16s slider infinite;
}

#slider figure source,
#slider figure img {
  width: 25%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  60% {
    left: -100%;
  }
  65% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@media (max-width: 520px) {
  #img-one,
  #img-four {
    background-image: url("/images/camera/camera-1-520x300.webp");
  }

  #img-two {
    background-image: url("/images/camera/camera-2-520x300.webp");
  }

  #img-three {
    background-image: url("/images/camera/camera-3-520x300.webp");
  }

  #slider {
    height: 300px;
  }

  figure img {
    height: 300px;
  }
}

.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.partners img {
  margin: 20px;
  align-self: center;
  justify-self: center;
  filter: grayscale(1);
}

.partners img:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 520px) {
  .partners img {
    margin: 20px;
  }
}
