@import "./app/typography";

@import "./core/variables";
@import "./core/mixins";

@import "./layout/header";

@import "./components/accordion";
@import "./components/homeSlider";
@import "./components/card";
@import "./components/sidenav";
@import "./components/tab";
@import "../js/components/googleMaps/_googleMaps";

.container {
  width: 80%;

  @include respond(phone) {
    width: 90%;
  }
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primaryColor;
  box-shadow: 0 1px 0 0 $primaryColor;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid $primaryColor;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $primaryColor;
}

/*
|-------------------------------------------------------------------------------------
| HTML rem
| 
| 1 rem by default is the browser font-size, 16px = 1rem
| It's not ideal, so for getting 1 rem = 10px, we divide 10px/16px = 62.5%
| 62.5% is now applied for the html font and all the children inherit from it.
| 
| We do this for responsive text, if the user increase the zoom level or decrease it,
| his value gonna be adjusted
| 
|-------------------------------------------------------------------------------------
*/

/**
|-------------------------------------------------------------------------------------
| Media Queries
| 
| Always put the larger media query before the smaller one or the styles are gonna be
| applied to the same range, and the last media query will be applied
|
|-------------------------------------------------------------------------------------
*/

html {
  font-size: 62.5%; //1rem = 10px, 10/16px = 62.5%

  @include respond(tablet-landscape) {
    /*width < 1200?*/
    font-size: 56.25%;
    /*//1rem = 9px, 9/16 = 56.25%*/
  }

  @include respond(tablet-portrait) {
    /*width < 900 ?*/
    font-size: 50%;
    /*1rem = 8px, 8/16 = 50%*/
  }

  @include respond(phone) {
    /*width < 600 ?*/
    font-size: 50%;
    /*1rem = 8px, 8/16 = 50%*/
  }

  @include respond(large-screen) {
    font-size: 75%;
    /*1rem = 12px, 12/16 = 75%*/
  }
}
