@import "../core/variables";

#multiLang {
  width: 100%;
  padding: 0.6rem 4.2rem 0.6rem 2.2rem;
}

.select-wrapper input.select-dropdown {
  padding: 1rem;
}

.dropdown-content li > span {
  color: $primaryColor;
}
